{% extends "layout.html" %}

{% block title %}
Bienvenido, {{ username }}
<style>
    #speech {
        display: none;
    }
</style>
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<header class="alert alert-primary border text-center" role="alert">
    {{ message }}
</header>
{% endif %}
{% endwith %}

{% block main %}
<div class="container text-center mb-5">
    <div class="form-check form-check-inline">
        <h2>Hola, {{ username }}, ¿qué deseas hacer?</h2>
        <form action="/acciones" method="post" class="d-flex justify-content-center">
            <div class="form-check form-check-inline">
                <select id="opciones" name="opciones" class="form-select" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Visitar perfiles</option>
                    <option value="2">Escribir mensajes</option>
                    <option value="3">Enviar invitaciones</option>
                </select>
            </div>
            <div class="form-check form-check-inline">
                <button class="btn btn-primary" type="submit">Continuar</button>
            </div>
            <!-- Esto se muestra si el usuario va a escribir mensajes o a solicitar conexion -->
            <div class="container text-center mb-5" id="speech" name="speech">
                <label for="mensaje" class="form-control font-weight-bold">Escribe un mensaje para tus contactos. <i>En
                        el lugar del nombre, escribe [[]]</i></label>
                <textarea class="form-control form-control-lg" id="mensaje" name="mensaje" type="text" rows=10 cols=50
                    placeholder="Hola [[]], ...(tu mensaje)..." required></textarea>
            </div>
        </form>
    </div>
</div>

<script>
    /**
    * Funcion para colapsar o expandir un div con el cuadro de texto de enviar mensajes
    */
    document.addEventListener('DOMContentLoaded', function () {
        var selectElement = document.getElementById('opciones');
        var textareaContainer = document.getElementById('speech');

        // Función para mostrar u ocultar el textarea según la opción seleccionada
        function toggleTextarea() {
            if (selectElement.value === '2' || selectElement.value === '3') {
                textareaContainer.style.display = 'block'; // Muestra
            } else {
                textareaContainer.style.display = 'none'; // Oculta
            }
        }

        // Escucha el evento 'change' en el select para mostrar u ocultar el textarea
        selectElement.addEventListener('change', toggleTextarea);

        // Llama a la función al cargar la página para asegurar que el textarea esté oculto si la opción por defecto no es la tercera
        toggleTextarea();
    });
</script>
{% endblock %}