{% extends "layout.html" %}

{% block title %}
Filtra tu búsqueda
{% endblock %}

{% block main %}
<script src='/static/script.js'></script>
<div class="container mt-5">
    <h2>Bienvenido, {{ usuario }}</h2>
    <h3>Te quedan <u>{{ remaining_shots }}</u> acciones disponibles hoy</h3>
    {% if remaining_shots > 0 %}
    <form action="/busqueda" method="post">
        <div class="mb-3">
            <label for="busqueda">Clave de busqueda</label>
            <input type="text" class="form-control mx-auto w-50" id="busqueda" name="texto_busqueda" autofocus required>
        </div>
        <div class="mb-3">
            <label for="shots"><i>¿A cuántas personas quieres llegar?</i></label>
            <input type="number" class="form-control mx-auto w-auto" id="numero_shots" name="numero_shots">
        </div>
        <button type="submit" class="btn btn-primary" onclick="verifyShots()">Buscar</button>
    </form>
    {% else %}
    <div class="mb-3">
        <h3><i>Ya no tienes shots disponibles</i></h3>
        <a href="/" class="btn btn-primary">Volver</a>
    </div>
    {% endif %}
</div>
{% endblock %}