{% extends "layout.html" %}

{% block title %}
Bienvenido
{% endblock %}

{% block main %}
<h2>Bienvenido a LinkedIn Automator</h2>
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-50" id="user" name="username"
            placeholder="eMail" type="text" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-50" id="passw" name="password" placeholder="Contraseña" type="password"
            aria-describedby="mostrar-contraseña" required>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
</form>
<div class="mb-3">
    <a href="/forgot">¿Olvidaste tu contraseña?</a>
</div>
{% endblock %}