{% extends "layout.html" %}

{% block title %}
Conectate a LinkedIn
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<header class="alert alert-primary border text-center" role="alert">
    {{ message }}
</header>
{% endif %}
{% endwith %}


{% block main %}
{% if not session.link_user or not session.link_pass %}
<h2>Introduce tus claves de LinkedIn</h2>
<form action="/linklogin" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-50" id="user" name="username"
            placeholder="eMail" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-50" id="passw" name="password" placeholder="Contraseña" type="password"
            aria-describedby="mostrar-contraseña">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Entrar para {{ session.accion }}</button>
    </div>
</form>
{% else %}
<h2>Ya estás conectado a LinkedIn</h2>
<form action="/linklogin" method="post">
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Entrar para {{ session.accion }}</button>
    </div>
</form>
{% endif %}

{% endblock %}
