{% extends "layout.html" %}

{% block title %}
    Entrar a LinkedIn Automator
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="user" name="username" placeholder="eMail" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="passw" name="password" placeholder="Contraseña" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Entrar para {{ opcion }}</button>
    </form>
{% endblock %}
