{% extends "layout.html" %}

{% block title %}
    Entrar a LinkedIn Automator
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-50" id="user" name="username" placeholder="eMail" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-50" id="passw" name="password" placeholder="Contraseña" type="password" aria-describedby="mostrar-contraseña">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Entrar para {{ accion }}</button>
        </div>
        <div class="mb-3">
            <a href="{{ url_for('index') }}">Volver</a>
        </div>
    </form>
{% endblock %}
