{% extends "layout.html" %}

{% block title %}
Trabajando en ello...
{% endblock %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Incluir Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% block main %}
<h1>Búsqueda en curso</h1>
<br>
<script>
    setInterval(function () {
        fetch('/check_status')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'finished') {
                    window.location.href = '/done';
                }
            });
    }, 1000);
</script>
<div class="container text-center">
    <h2>Cargando... </h2>
    <h3><i>No cierres esta ventana</i></h3>
</div>
<div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
</div>

{% endblock %}